{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "AiFoundry": {
    "EndPointUrl": "https://YOUR-AI-FOUNDRY.services.ai.azure.com/api/projects/YOUR-PROJECT",
    "AgentId": "asst_XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
  }
}
